
@media only screen and (max-width:990px){
    .row2{
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        left: 12px;
        top:48px;
    }
    .navbar-collapse ul{
        align-items: center;
    }
    .navbar-collapse {
        overflow: scroll;
        height: 250px;
    }
}

@media only screen and (min-width: 995px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 10px;
    }
  
    .dropdown-menu:before {
        content: "";
        height: 48px;
        display: block;
        position: absolute;
        top: -27px;
        width: 100%;
    }
  
    .nav-item:last-child {
      /* margin-left: 100px; */
    }
  
    .nav-item {
      margin-left: 15px;
    }
  
    .nav-item:first-child {
      margin-left: 0px;
    }
  
    .navbar .container {
      padding: 0px 0px;
  
    }
  
  
  }
  
  /* Media Q End */

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e6e9ed;
    box-shadow: 0px 5px 5px #0000001f;
  
  }
  
  nav img {
    width: 200px;
  }
  
  
  .navbar a {
    font-size: 15px;
    color: rgb(80, 106, 133);
    font-weight: bold;
  
  }
  
  /* .navbar a:hover{
    color: #208c1c;
  }
  
   */
  
  .nav-bars {
    color: rgb(73, 67, 182);
  }


